

body {
  color: #FFFFFF;
  background-color: #A9A9A9;
  margin: 0 auto;
  text-align: center;
  font-family: Roboto, Helvetica, Arial, sans-serif ;
  font-size: 2rem;
  min-height: 80%;

}

hr {
  padding: 1rem;

}

h1,h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  color: black;
  font-weight: 500;
}

div {
  background-color: inherit;
  min-height: 50%;
}

p {
  line-height: 2;
  color: black;
}

ul {
  list-style: none;
}

ul li {
  color: black;
  font-weight: 400;
}

a {
  font-size: 1rem;
  margin: 10px 20px;
  text-decoration: none;
  color: #ffffff !important;
  font-weight: bold;
}

a:hover{
  text-decoration: underline;
  color: forestgreen !important;
  font-weight: bold;
}



/* containers */

.top-container{
  background-color: #66CCFF;
  position: relative;
  padding-top: 100px;
}


.bottom-container {
  padding: 50px 0px 20px;
  background-color: #66CCFF;

}

.container {
  padding: 1rem auto;
  background-color: #f8f8f8;
  border-radius: 12px;
  margin: 20px auto;

}

.container-fluid{
  margin: 10px auto 50px auto;
}

.card {
  margin: 30px auto;
}
.card-title {
  padding: 1rem;
}

.card > iframe {
  margin: auto;
}

.card-body > li{
  padding: 0.7rem;
}


/* other classes */

.nav-link {
  color: #FFFFFF;
}

.footer-link {
  color: #FFFFFF;
}

.footer-link a {
  text-decoration: none;
}

.copyright{
  color: #ffffff;
  font-size: 0.95rem;
  padding: 20px 0;
}

.skill-row {
  width: 50%;
  margin: 2em auto;
  text-align: left;
  line-height: 2;

}

.pro {
  text-decoration: underline;
}

.fancy {
  font-style: oblique;
  font-size: 2.5rem;
  background-color: #CCFFFF;
  padding: 1rem 2rem;
}

#news {
  background-color: #FFFFEF;
  border-radius: 10px;
  border: ridge 2px;
}

#news > ul > li {
  list-style: square;
  padding: 1rem;
  font-size: 1.2rem;
  text-align: left;
  font-weight: 500;
}


.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.iframe-div {
  margin: 10px auto;
  padding: 1em;
  width: 75%;
  background-color: forestgreen;
}


/*
  Appearance
*/

/* heading */
#big-heading {
  margin: 30 auto;
  line-height: 2;
  z-index: 10;
  position: relative;

}

#big-heading h1{
  color: #FFFF00;
  font-family: Sacramento;
  font-size: 5rem;
  position: relative;
  z-index: 10;
  padding-bottom: 1rem;
}

#big-heading h2 {
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 400;
  font-family: Sacramento;
  padding-bottom: 10px;
  z-index: 10;
  position: relative;
}

.cloud {
  width: 10rem;
}

.top-cloud {
  position: absolute;
  top: 2rem;
  left: 7rem;
  z-index: 1;

}

.bottom-right-cloud {
  position: absolute;
  top: 3rem;
  left: 70%;
  z-index: 1;

}

.bottom-left-cloud {
  position: absolute;
  top: 23rem;
  left: 5rem;
  z-index: 1;

}

.bottom-far-right-cloud{
  position: absolute;
  top: 25rem;
  left: 32rem;
  z-index: 1;

}

.my-hill {
  width: 75%;
  margin-bottom: 0;
}

.my-img {
  margin-top: 1em;
  width: 20%;
}

.code-img{
  width: 20%;
  float: left;
  margin-right: 30px;
}

.chilli-img{
  width: 20%;
  float: right;
  margin-left: 30px;

}

/* Contact me button */

.BUTTON_QVD {
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: Helvetica, sans-serif;
   font-size: 1.3rem;
   font-weight: 500;
   padding: 0.7rem 2rem;
   background-color: #66BFBF;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_QVD:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #11999E);
   background-image: -moz-linear-gradient(top, #1E62D0, #11999E);
   background-image: -ms-linear-gradient(top, #1E62D0, #11999E);
   background-image: -o-linear-gradient(top, #1E62D0, #11999E);
   background-image: -webkit-gradient(to bottom, #1E62D0, #11999E);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}

/* about */

.skill {
  padding: 1rem;
  background-color: #FFFF66;

}

.skill  > h4 {
  margin: 1rem 1px;
}

.skill > ol > li {
  margin: 1rem;
}

.skill > ul > li {
  margin: 1rem;
}

.progress {
  padding: 1rem;
}

.card-block {
  padding: 1em;
}

.card {
  min-height: 14rem;
}

.form-group {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin-bottom: 0.7em;
}

.form-group > label {
  padding-bottom: 0.5em;
}
